.profile{
  display:flex;
  justify-content:center;
  align-items:center;
  height:80vh;
}

.profile-card{
  background:#1e1e1e;
  padding:40px;
  border-radius:15px;
  width:350px;
  text-align:center;
  box-shadow:0 10px 30px rgba(0,0,0,0.6);
}

.profile-card p{
  margin:10px 0;
  color:#ddd;
}